<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arabic SMS SPAM Detection</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <header>
    <h1>Arabic SMS SPAM Detection</h1>
    <nav>
     
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
    </ul>

    
    </nav>
  </header>

  <main>
    <section>
      <h2>Welcome to Arabic SMS SPAM Detection</h2>
      <p>Enter an SMS message below to detect if it is spam:</p>
      <form id="sms-form" action="{{url_for('home')}}" method="POST">
        <textarea name="Body" placeholder="Paste SMS here"></textarea>
        <button type="submit" onclick="makeRequest()">Detect Spam</button>
      </form>

    </section>

    <section>
      <h2>User Feedback</h2>
      <p>Share your feedback with us:</p>
      <form>
        <textarea placeholder="Write your feedback here"></textarea>
        <button type="submit">Submit Feedback</button>
      </form>
      <p id="prediction" style="color: darkred; font-weight: bold;"></p>

    </section>
  </main>

  <footer>
    <p>&copy; 2023 Arabic SMS SPAM Detection. All rights reserved.</p>
  </footer>
</body>
<script>
function makeRequest() {
    event.preventDefault(); // Prevent form submission

    var form = document.getElementById("sms-form");
    var formData = new FormData(form);

    $.ajax({
        url: form.action,
        type: form.method,
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
            var parsedResponse = JSON.parse(response);
            // Update the prediction result on the page
            document.getElementById("prediction").innerText = "Prediction: " + parsedResponse.prediction;
        },
        error: function() {
            alert("Error occurred while making the request.");
        }
    });
}

    
</script>
</html>



