<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='logincss.css') }}">
</head>
<body>
  <header>
    <h1>Arabic SMS SPAM Detection</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <form class="register-form">
      <h2>Register</h2>
      <input type="text" placeholder="Username" required>
      <input type="password" placeholder="Password" required>
      <input type="password" placeholder="Confirm Password" required>
      <button type="submit">Register</button>
      <p class="message">Already registered? <a href="login.html">Login</a></p>
    </form>
  </div>
</body>
</html>
